.title {
	text-align: center;
}

img {
	width: 25px;
	height: 35px;
}

.crest-delimiter-name {
	margin-left: 5px;
}

/* Centers the text of a table header/data cell horizontally and vertically*/
.tcell-text {
	text-align: center;
	vertical-align: middle;
}

.tcell-position-text {
	vertical-align: middle;
}