<h3 class="title">
  Season Standings
</h3>
<i class="fas fa-circle-notch fa-spin spinner" *ngIf="loading"></i>
<table class="table table-striped" *ngIf="!loading">
	<thead>
		<tr>
			<th class="col-md-1">#</th>
			<th class="col-md-2">Team</th>
			<th class="col-md-1 tcell-text"># Matches</th>
			<th class="col-md-1 tcell-text">Points</th>
			<th class="col-md-1 tcell-text">Wins</th>
			<th class="col-md-1 tcell-text ">Losses</th>
			<th class="col-md-1 tcell-text">Draws</th>
			<th class="col-md-1 tcell-text">Goal Difference</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let teamSeasonStat of teamSeasonStats; let i = index">
			<th class="tcell-position-text" scope="row">{{i + 1}}</th>
			<td>
				<img src="{{teamSeasonStat.team.crestURI}}">
				<span class="crest-delimiter-name">&nbsp;</span>
				<span><a [routerLink]="['/laliga/teams', teamSeasonStat.team.id]">{{teamSeasonStat.team.name}}</a></span>
			</td>
			<td class="tcell-text">{{teamSeasonStat.numMatches}}</td>
			<td class="tcell-text">{{teamSeasonStat.points}}</td>
			<td class="tcell-text">{{teamSeasonStat.wins}}</td>
			<td class="tcell-text">{{teamSeasonStat.losses}}</td>
			<td class="tcell-text">{{teamSeasonStat.draws}}</td>
			<td class="tcell-text">{{teamSeasonStat.goalDifference}}</td>
		</tr>
	</tbody>
</table>