.login-container {
		/* Centralize text of all elements of in this div */
		text-align:center;
		
		margin: 10% 0 0 38%;
		width: 400px;
		height: 200px;
}

#form-login-btn {
	margin-top: 2%;
}

/* Define properties for different devices/screen widths */
@media screen and (max-width:1000px) {
	.login-container {
		margin: 18% 0 0 25%;
	}
}